body{
    background-image: url("https://images.pexels.com/photos/2501965/pexels-photo-2501965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

    background-color: #cccccc;
    background-position: center bottom; /* Center the image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* blue from background: #c5e7e6 */
}

.headerToDo {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 1.7%;


}

.headerToDo > .page-header > h1 {
    font-size: 70px;
    font-weight: bold;
}

#formToDo input {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 45%;
    border-radius: 5px;
    padding: 4px;
    border: 2px solid #fff3da;
}

#addBtn {
    background-color: #e6f8d1;
    color: #333333;
    border-color: #e6f8d1!important;
    font-weight: bold;
}

#addBtn:hover {
    background-color: #cae9be;
    color: #333333;
    border-color: #cae9be!important;
}


/* search */



.searchToDo  input{
    margin-top: 3%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    border: 2px solid #ffeaea;
    width: 50%;
    height: 45px;
    border-radius: 5px;
    background: #ffffff;
}

.dateSearch {
    display: block!important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

.dateSearch > input{
    display: inline-block!important;
    margin-top: 10px;
    border: 2px solid #ffeaea;
    height: 45px;
    border-radius: 5px;
    background: #ffffff;
}

/* table */
table {
    width: 100%;

}
#tableHeader {
    font-size: 30px;
}

tbody > tr {
    text-align: justify;
    background: none;
}

tbody > tr > td {
    text-align: justify;
    background: none;
    display: table-cell;
    padding-bottom: 10px;
}

td:last-child {
margin-left: 0px;
}

#todoTable{
    background-color: rgb(255,255,255);
    opacity:0.8;
}

