h1{
    text-align: center;
    font-style: italic;
}
div{
    padding: 15px;
}

#todoListView {
    display: none;
}

th{
    background: white;
    color: black;
}

tr:nth-child(even) {
    background: white;
    
}
body{
    font-family: Stencil Std, fantasy;
}

tr:nth-child(odd) {
    background-color: black;
    color: white;
}

#mheader {
    background-color: black;
    color: white;
}